{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TURN-AR</title> <!-- <title>TURN-AR - {% block title %}{% endblock %}</title> si quiero agregarle un titulo adicional a la pestaña en plan TURN-AR - Inicio-->
    <link rel="stylesheet" href="{% static 'turnos/css/base.css' %}"> <!-- esta carpeta esta por fuera de la app, la ruta debe ser distinta por eso no me toma el CSS, consultar con Ema si mantenemos la misma org que con templates o como organizo Ale los archivos static -->
</head>
<body>
    <header>
        <h2>{% block section_title %}{% endblock %}</h2>
    </header>

    <nav> <!-- futuro menu desplegable -->
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'espacios' %}">Espacios</a></li>
            <li><a href="{% url 'servicios' %}">Servicios</a></li>
            <li><a href="{% url 'calendario' %}">Calendario</a></li>
            <li><a href="{% url 'reserva' %}">Reserva</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %} 
    </main>

    <footer>
        <p>Trabajo Final Integrador - Django 2024 - Grupo 19</p>
        <p>GitHub: @emagomez99 @cara0000 </p>
    </footer>


</body>
</html>