{% extends "core/base.html" %}
{% load static%}

{% block title%}{% filter upper %}
alta de figura
{% endfilter %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/alta_figura.css' %}">
{% endblock %}


{% block section_title %}{% filter upper %}
Alta de figura
{% endfilter %}{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center">Datos de la Figura:</h3>
    <form method="post" action="{% url 'alta_figura' %}" class="mx-auto w-50">
        {% csrf_token %}
        {{ alta_figura_form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<br><br><br>
{% endblock %}