{% extends "core/base.html" %}

{% load static%}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/contacto.css' %}"> {% endblock %}

{% block title%}{% filter upper %}
contacto
{% endfilter %}{% endblock %}

{% block section_title %}{% filter upper %}
contacto
{% endfilter %}{% endblock %}

<!-- FORMULARIO ASOCIADO A UN TEMPLATE -->
{% block content %}
<div class="container">
    <h3 class="text-center">Datos de la Figura:</h3>
    <form method="post" action="{% url 'contacto' %}" class="mx-auto w-50">
        {% csrf_token %}
        {{ contacto_form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}