{% extends "core/base.html" %}

{% load static%}

{% block title%}{% filter upper %}
Listado figuras
{% endfilter %}{% endblock %}

{% block section_title %}{% filter upper %}
Listado de Figuras (por ID)
{% endfilter %}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Denominación</th>
            <th scope="col">Personaje</th>
            <th scope="col">Coleccion</th>
            <th scope="col">Compañía</th>
            <th scope="col">Precio</th>
            <th scope="col">Operaciones</th>
            <!--  <th scope="col">Fecha de salida</th> -->
            <!-- <th scope="col">Imagen representativa</th> -->
        </tr>
    </thead>
    <tbody>
        {% for figura in listado_figuras %}
        <tr>
            <td>{{ figura.id }}</td>
            <td>{{ figura.denominacion | title }}</td>
            <td>{{ figura.personaje | title }}</td>
            <td>{{ figura.coleccion | title }}</td>
            <td>{{ figura.compañia | title }}</td>
            <td>{{ figura.precio | title }}</td>
            <!-- <td>{{ figura.fecha_salida | title }}</td> -->
            <!-- <td>{{ figura.imagen | title }}</td> -->
            <td>
                <!-- Botón de Editar -->
                <a href="" class="btn btn-primary btn-sm">Editar</a>

                <!-- Botón de Eliminar -->
                <form method="post" action="" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="figura_id" value="{{ figura.id }}">
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('¿Estás seguro?')">Eliminar</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No hay figuras registradas</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br>
{% endblock %}