{% extends "core/base.html" %}

{% load static%}

{% block title%}{% filter upper %}
listado personajes
{% endfilter %}{% endblock %}

{% block section_title %}{% filter upper %}
listado de personajes (por id)
{% endfilter %}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Anime</th>
            <th scope="col">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for personaje in listado_pjs %}
        <tr>
            <td>{{ personaje.id }}</td>
            <td>{{ personaje.nombre | title }}</td>
            <td>{{ personaje.anime | title }}</td>
            <td>
                <!-- Botón de Editar -->
                <a href="" class="btn btn-primary btn-sm">Editar</a>

                <!-- Botón de Eliminar -->
                <form method="post" action="" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="figura_id" value="{{ figura.id }}">
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('¿Estás seguro?')">Eliminar</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No hay productos registrados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}